.container {
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 46vw;
  font-size: 16px;
  background-image: url("../../img/plant.jpg");
  background-size: cover;
  background-repeat: none;
}

.container .header {
  padding-top: 15vh;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.container .form {
  padding-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20vw;
}

.container .form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.container .form .inputs input {
  margin-bottom: 25px;
  padding-bottom: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #989898;
  font-size: 15px;
}

.container .form .inputs input:focus, .container .form .inputs input:hover {
  color: #ff6440;
  border-bottom: 1px solid #ff6440;
}

.container .form .inputs input:focus::-webkit-input-placeholder, .container .form .inputs input:hover::-webkit-input-placeholder {
  color: #ff6440;
}

.container .form .inputs input:focus:-ms-input-placeholder, .container .form .inputs input:hover:-ms-input-placeholder {
  color: #ff6440;
}

.container .form .inputs input:focus::-ms-input-placeholder, .container .form .inputs input:hover::-ms-input-placeholder {
  color: #ff6440;
}

.container .form .inputs input:focus::placeholder, .container .form .inputs input:hover::placeholder {
  color: #ff6440;
}

.container .form .inputs .checkbox {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .form .button {
  margin-top: 5vh;
  width: 10vw;
  font-size: 16px;
  color: white;
  background-color: #ff6440;
  border: 0;
  border-radius: 50px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.container .form .button:hover {
  background-color: #da6449;
}

.container .register-or-login {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 5vh;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .register-or-login p {
  padding-left: 20px;
  padding-right: 20px;
}

.container .register-or-login a {
  color: #ff6440;
}

.container .register-or-login a:hover {
  color: #da6449;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
/*# sourceMappingURL=LoginPage.css.map */