.homeDiv {
    font-family: "Playfair Display", serif;

    main {
        display: grid;
        grid-template-columns: 140px 60px auto 500px;
        grid-template-rows: 70px 50px 150px auto 100px;
        grid-template-areas: "left" "center" "right";
    }

    .title {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        font-family: "Playfair Display", serif;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 8px;
        line-height: 30px;
    }

    .subtitle {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        font-size: 20px;
        color: grey;
    }

    .side1 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        width: 100%;
    }

    .pot1 {
        grid-column: 4 / 5;
        grid-row: 1 / 6;
        width: 100%;
    }
}
