$grey: rgb(152, 152, 152);
$orange: rgb(255, 100, 64);
$darker-orange: rgb(218, 100, 73);
$large-font: 32px;
$medium-font: 16px;
$small-font:14px;
$default-font:'Montserrat',
sans-serif;

@mixin flexBox ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: $direction;
}