$footer-font: "Roboto Mono", monospace;
@import "../Header/Header.scss";
@import "../defaultStyle.scss";

.footer {
    width: 100%;
    background-color: rgb(210, 187, 176);
    color: white;
    font-family: $footer-font;
    display: grid;
    grid-template-columns: 10vw 15vw 10vw 15vw 10vw 25vw auto;
    grid-template-rows: 20px 30px 20px auto 20px;
    grid-template-areas:
        ". .       . .        . .         ."
        ". contact . location . subscribe ."
        ". .       . .        . .         ."
        ". .       . address  . email     ."
        ". .       . .        . .         .";
}

.contact {
    grid-area: contact;
}

.location {
    grid-area: location;
}

.address {
    grid-area: address;
}

.subscribe {
    grid-area: subscribe;
}

.email {
    grid-area: email;
}

.signUp {
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: transparent !important;
    color: white;

    &::placeholder {
        color: white;
    }
}
